

<div class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="page-header text-center">
                    <h1>QuikOpt</h1>
                </div>
                <p>La plataforma social para que las empresas  interactuen  con sus clientes</p> 
            </div>
            <!--<div class="col-md-3">
                <ng-include src="'/app/views/login.html'" />
            </div>-->
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12 page-header text-center">
                        <h2 style="margin-bottom:19px !important;margin-top:30px!important">Crea tu cuenta o ingresa <a href="#/login">aqui</a></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ng-include src="'/app/views/signup.html'"></ng-include>
                    </div>
                    <div class="col-md-6">
                        <ng-include src="'/app/views/socialbuttons.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

