
<button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Conectar con Facebook</button>
<button class="btn btn-large btn-twitter btn-block" type="button" data-ng-click="authExternalProvider('Twitter')"><i class="fa fa-twitter"></i> | Conectar con Twitter</button>
<button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Conectar con Google+</button>
